<div class=body>
    <h2>Our Office</h2>

    <p>Google Image</p>
    <img src="/api/map/storelocation" alt="">

    <table>
        <tr>
            <td>Address:</td>
            <td>
        <tr>36 Soo Chow Drive</tr>
        </td>
        </tr>
        <tr>
            <td></td>
            <td>Singapore 575543</td>
        </tr>
        <tr>
            <td>Tel:</td>
            <td>
        <tr>+65 6777 1234</tr>
        </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
        <tr>boutique@gmail.com</tr>
        </td>
        </tr>
    </table>
</div>