<div class="flexbox-container" style="display:flex;">
    <div class="sidebar">
        <img class="imagecss" src="https://sgp1.digitaloceanspaces.com/dawn123/boutique/{{prod_type}}/{{img_path}}">
    </div>
    <div class="main">
        <form #form="ngForm" (ngSubmit)="submit(form)" class="detail">
            <h3>{{prod_name}}</h3>
            $ {{selling_price}}<br>
            <hr>
            Color:
            <select name="color" ngModel (change)="determineSizeByColor($event)">
                <option *ngFor="let color of distinctColor" [value]="color" required>{{color}}</option>
            </select>
            <br>
            Size:
            <div *ngIf="selectedColor">
                <select name="size" ngModel>
                    <option *ngFor="let i of stock" [value]="i.size" required>{{i.size}} - Remaining Qty: {{i.quantity}}
                    </option>
                </select>
                <br>
                <br>
                Quantity:
                <input type="number" name="quantity" value="1" min="1" max="5" required ngModel>
            </div>
            <br><br>
            <button color="primary" type="submit" [disabled]="form.invalid">
                Add to Cart
            </button><br><br>
            <hr>
            <b>Description:</b><br>
            <div class="desc">
                {{prod_desc}}
            </div>
        </form>
    </div>
</div>

<br>
<div class=button>
        <button type="button" (click)="back()">
                Back
            </button>
</div>

