<mat-grid-list cols="2" >
    <mat-grid-tile>
        <mat-card class="card">
            <img mat-card-image src="../../assets/dress.jpg" alt="Dress">
            <mat-card-content>
                <a [routerLink]="'/product/dress'"> Dresses </a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <img mat-card-image src="../../assets/shirt.jpg" alt="Shirt Image">
            <mat-card-content>
                <a [routerLink]="'/product/shirt'"> Shirts </a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <img mat-card-image src="../../assets/skirt_pant.jpg" alt="Skirt & Pant Image">
            <mat-card-content>
                <a [routerLink]="'/product/skirt_pant'"> Skirts & Pants </a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card">
            <img mat-card-image src="../../assets/accessories.jpg" alt="Accessories">
            <mat-card-content>
                <a [routerLink]="'/product/accessories'"> Accessories </a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>